.Card {
    max-width: 800px;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.25);
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    text-align: left;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    z-index: 100;
}

.CardLeft {
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: #f4f4f4;
}

.Card:hover {
    transform: scale(1.05,1.05);
    box-shadow: 0 30px 60px rgba(0,0,0,0.5);
}


.CardLeft img {
    max-height: 90%;
    max-width: 90%;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    box-shadow: 0 30px 60px rgba(0,0,0,0.25);
}

.Card:hover img {
    transform: scale(1.1,1.1);
    box-shadow: 0 30px 60px rgba(0,0,0,0.5);
}

.Card h3 {
    font-size: 30px;
    margin: 20px 20px 0 20px;
    background: linear-gradient(104deg, #c3c7d8 0%, lightgrey 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Card h4 {
    color: lightblue;
    font-size: 15px;
    margin: 20px 20px 0 20px;
}

.Card h5 {
    color: lightgrey;
    font-size: 15px;
    margin: 0 20px 20px 0;
    align-self: end;
    text-align: right;
}

.Card p {
    color: grey;
    font-weight: 50;
    font-size: 18px;
    margin: 0 0 20px 20px;
}

@media (max-width: 640px) {
    .Card {
        display: block;
    }
    .CardLeft {
        height: 260px;
    }

    .Card h4 {
        display: none;
    }

    .Card p {
        display: none;
    }
  }