@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
}

a {
  color: darkgrey;
  font-weight: 300;
  text-decoration: underline;
  text-decoration-color: #a3e4d7;
}
a:visited {
  text-decoration: underline;
  text-decoration-color: #a3e4d7;
}
a:hover {
  background-color: #e8f8f5;
  color: darkgrey;
}
a:active {
  background-color: #c7ffed;
  color: darkgrey;
}

.Hero {
  background-color: rgba(251, 251, 251, 1);
  padding: 0 0 1px 0;
  margin: -50px 0 0 0;
}

.HeroGroup {
  margin: 0 auto;
  max-width: 760px;
  padding: 0px 50px;
  text-align: center;
}

.Hero h1 {
  margin: 0;
  color: grey;
  font-size: 26px;
  font-weight: 50;
  line-height: 3;
}
.Hero h2 {
  margin: 0;
  color: grey;
  font-size: 15px;
  font-weight: 50;
  line-height: 1.2;
}

.Hero p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  font-weight: 50;
  line-height: 1.5;
}

@media (max-width: 640px) {
  .HeroGroup {
    padding: 0px 20px;
  }
}

.Hero .Logos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 40px;
  margin: 0px 0;
  justify-items: center;
}

@media (max-width: 640px) {
  .Hero .Logos {
    grid-template-columns: repeat(2, 1fr);
  }
}

.CardGroup {
  margin: 50px 0 100px;
  display: grid;
  grid-row-gap: 60px;
  background-color: rgba(251, 251, 251, 1);
}
